/*reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* css mỗi phần gồm :

1.vị trí
2.kích thước 
3.kiểu dáng
4.màu sắc
*/
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.main{

}


.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-haft{
    width: 50%;
}

.row{
    margin-right: -8px;
    margin-left: -8px;
}
.row::after{
content: "";
display: block;
clear: both;
}
.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

/* header start*/
#header{
    height:46px ;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header .search-btn{
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

#header .search-icon{
color: white;
}

#header .search-btn:hover {
    background-color:#f44336!important ;
    cursor: pointer;

}

#nav{
  display: inline-block;  
}

#nav, .subnav{
    list-style: none;
}

#nav li{
position: relative;
}
#nav > li{
    display: inline-block;  
}
#nav > li >a{
color: white;
}
#nav li a{
    display: inline-block;   
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
background-color:darkgrey ;
color: black;
}

#nav .subnav{
  display: none;
  position: absolute;
  background-color: #fff;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 160px;
}
#nav .subnav a{
    color: black;
    display: block;
    padding: 0 16px;
    line-height: 38px;
}

#slider{
position: relative;
margin-top: 46px;
padding-top: 50%;
background:url(../image/w3school-art.jpg) top center /cover no-repeat;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translate(-50%,0%);   
    text-align: center; 
}
#slider .text-heading{
margin-bottom: 25px;
font-weight: 500;
font-size: 24px;
}

#slider .text-description{
font-size: 15px;
}
/* header end */

/* content start */
#content{

}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}
#content .section-heading{
text-align: center;
font-size: 30px;
font-weight: 500;
letter-spacing: 4px;
margin: 10px 0;
}

#content .section-sub-heading{
text-align: center;
font-size: 15px;
margin: 15px 0;
font-style: italic;
opacity: 0.6;
    
}

#content .section-paragraph{
font-size: 15px;
margin: 15px 0;
text-align: justify;
line-height: 1.5;

}
#content .member-list{
   overflow: hidden;
   padding: 32px 0;
   
}

#content .member-item{
    float: left;
    text-align: center;
}

#content .member-name{
margin: 15px 0;
}

#content .member-image{
    width: 60%;
    border-radius: 4px;
}
/*tour section  */
.tour-section{
    background-color: black;
    color: #fff;
    padding: 64px 0;
}
.ticket-list{
margin-top: 32px;
}

.ticket-list li{
   list-style: none;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding: 10px 16px;
    color: #757575!important;
}

.ticket-list .sold-out{
    margin-left: 16px;
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
}

.ticket-list .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    margin-top: -3px;
    line-height: 24px;
}

.places-list{
    overflow: hidden;
        margin: 32px -8px 32px;
}
.places-content{
    background-color: #fff;
    color: #000;
    font-size: 15px;
    padding: 15px 15px 27px;
}
.places-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px
}
.places-image{
    width: 100%;
    display: block;
}

.places-image:hover{
    opacity: 0.6;
}

.places-name{

}
.places-date{
    margin: 15px 0;
    color: #757575;
}
.places-desc{
    margin: 15px 0;
    line-height: 1.4;
}
.places-buy-btn{
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 17px
    
}

.places-buy-btn:hover{
    color: #000;
    background-color: #757575;
}
.contact-body{
    padding: 32px 0;
}

.contact-infor{
    font-size: 18px;
    line-height: 1.4;
}
.contact-infor i{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit{
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 9px 15px;
    float: right; 
    border-style: none;
}
.contact-form .form-submit:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.map-section{
    width: 100%;
}
/* content end */



#footer{
    
}
.footer-content{
    width: 100%;
    text-align: center;
    padding: 58px 0
}

.footer-icon a{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.footer-message{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 24px;
}

.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    position: relative;
    min-height: 200px;
    animation: modalFacein ease 0.5s;
}
.modal-close:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    color: #fff;
}
.modal-header{
    width: 100%;
    min-height: 129px;
    font-size: 30px;
    background-color: #009688;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bag-icon {
    margin-right: 16px;
}
.modal-body{
    padding:0 15px;
}
label.modal-label {
    display: block;
    font-size: 15px;
    margin: 12px 0 8px
}
input.modal-input {
    border: 1px solid#ccc;
    width: 100%;
    font-size: 15px;
    padding: 8px;
}
button.pay-btn:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}
button.pay-btn {
    width: 100%;
    background-color: #009688;
    margin: 16px 0;
    color: #fff;
    padding: 16px;
    border-style: none;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
a.helps-url {
    color: #2196F3;
}

@keyframes modalFacein{
    from{
        opacity: 0.4;
       transform: translateY(-100px); 
    }
    to{
        transform: translateY(0);
    }
}
